@model Category
@*Category tipde qayidir actiona*@
@{
    ViewData["Title"] = "Detail";
}
<div class="container my-5">
 

        <input type="text" class="form-control" id="customFile" asp-for="Name" disabled="disabled" />  @*asp-for-Modelin icindekilerin adi ile eyni olamlidi(table-colum)*@  @*form submit olanda inputa yazdiqimiz Model-tipinde qayidir actiona*@
        <a class="btn btn-light mt-3" asp-action="Index">Cancel</a>



</div>