@model IEnumerable<Slider>
@{
    ViewData["Title"] = "Slider";
}

<div class="container my-5">
    <h4 class="card-title">Slider</h4>
    <a class="btn btn-success text-white" asp-action="Create" style="float:right">Create</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Operations
                    </th>
                 
                </tr>
            </thead>
            <tbody>
                @foreach(var slider in Model)
                {
                    <tr>
                        <td class="py-1">
                        <img src="~/img/@slider.Image" style="width:70px;height:70px" alt="image" />
                        </td>
                        <td data-id="@slider.Id">
                            @if(slider.SoftDelete)
                            {
                            <div class = "deActive-status slider-status"></div>
                            }else{
                        <div class = "active-status slider-status"></div>
                            }
                             
                            
                           
                            
                        </td>
                        <td style="display: flex; gap: 10px;">
                         <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@slider.Id" >Info</a>
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@slider.Id" >Edit</a>
                            <form asp-action="Delete" asp-route-id="@slider.Id" method="post"> @*Delete burada form yazirq yalniz, cunku Deletein seyfesi yoxdu burda submit olur.ama obirler gedir viewda submit olur*@
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>

                    </tr>      
                }
              
            </tbody>
        </table>
    </div>



</div>

